<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 

    <%- include("./pubilcViews/mate.jstl") %>
</head>
<body>
        <%- include("./pubilcViews/title.jstl") %>
        <%- include("./pubilcViews/lunbo.jstl") %>
    <div class="page">
        <div class="con-zx">关于我们</div>
    </div>
    <div style="border-bottom: 1px solid #e8e8e8"></div>
    <div class="page">
        <div class="abme-center">
            <div class="abm-top">小i智能名片是深圳爱售科技有限公司推出的微信小程序，用微名片、微商城、微活动、 微官网替代传统名片和升级企业营销系统。连接10亿微信用户，实现低碳社交、精准成交。
            </div>
            <div class="abm-top"> 小i智能名片与腾讯企业微信、微信小程序、腾讯云、腾讯AI开放平台、腾讯AI Lab展开 深入合作，让人工智能普惠商务社交，帮助一亿商务人士做生意。
            </div>
            <div>
                <img src="./assets/images/aboutme/abme_0.png" class="abme_0">
            </div>
            <div>
                <div class="cpjs">
                    <a></a>
                    <span>产品介绍</sapn>
                </div>
                <div class="cpsm">
                    <p>
                        <strong>1、微企经营系统</strong> 一张名片经营一家企业</p>
                    <p>
                        <strong>2、裂变获客系统</strong> 一张名片连接十亿用户</p>
                    <p>
                        <strong>3、人脉管理系统</strong> 一张名片管理全部人脉</p>
                    <p>
                        <strong>4、AI精准销售系统</strong> AI赋能，精准成交</p>
                    <p>
                        <strong>5、BOSS可视化管理系统</strong> 数字化经营，可视化管理</p>
                    <p>
                        <strong>6、全员营销系统</strong> 让每名员工都成流量入口</p>
                    <p style="padding-bottom: 0">
                        <strong>7、乐分销系统</strong> 发名片卖自家产品，获得小i分销收益</p>
                </div>
            </div>
            <div>
                <div class="cpjs">
                    <a></a>
                    <span>企业介绍</sapn>
                </div>
                <div class="cpsm">
                    <p>
                        <span></span>
                        <strong>使命：</strong>
                        <a>用技术引领销售变革</a>
                    </p>
                    <p>
                        <span></span>
                        <strong>愿景：</strong>
                        <a>AI赋能，帮一亿销售人员卖东西</a>
                    </p>
                    <p>
                        <span></span>
                        <strong>价值观：</strong>
                        <a>换位、升维、精进</a>
                    </p>
                    <p style="padding-bottom: 0">
                        <span></span>
                        <strong>产品哲学：</strong>
                        <a>不二法则，一看就懂、一用就会</a>
                    </p>
                </div>
            </div>
            <div>
                <div class="cpjs">
                    <a></a>
                    <span>公司荣誉</sapn>
                </div>
                <div class="abqyry">
                    <img src="./assets/images/aboutme/abqyry_01.png" />
                    <img src="./assets/images/aboutme/abqyry_02.png" />
                    <img src="./assets/images/aboutme/abqyry_03.png" />
                </div>
            </div>
            <div>
                <div class="cpjs">
                    <a></a>
                    <span>合作品牌</sapn>
                </div>
                <div>
                                <img src="./assets/images/aboutme/abcq_01.png" />
                                <img src="./assets/images/aboutme/abcq_02.png" />                       
                </div>
            </div>
            <div style="height: 91px;"></div>
        </div>
    </div>
    <%- include('./pubilcViews/foot.jstl',{success:foot}) %>
    <script>
        document.querySelectorAll('.hread-li')[6].setAttribute('class', 'hread-li click')
    </script>
</body>


</html>