<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
     <%- include("./pubilcViews/mate.jstl") %>
</head>

<body>
        <%- include("./pubilcViews/title.jstl") %>
        <div style="height: 85px;">

        </div>
        <div class="flexslider">
            <ul class="slides">
                <li><img src="./assets/images/lb_1.png"  class="href_offer_sy xii"/></li>
                <li><img src="./assets/images/lb_3.png" class="href_offer_sy xii"/></li>
            </ul>
        </div>
    <div class="page_ai">
        <div class="issles">
            <div class="aisk"></div>
        </div>
    </div>
    <div style="background: #f8f8f8">
        <div class="ovhide page_ai ">
            <div class="g-left">
                <div class="aisk_text-1">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex1"></a> 一张能帮你连接10亿用户的名片
                    </p>
                    用小程序替代传统名片，直接触达微信10亿
                    <br/> 用户，高效拓客。
                    <br/>
                </div>
            </div>
            <div class="g-right">
                <div>
                    <img src="./assets/images/aisk/aisk_1.png" class="aisk_1">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ovhide page_ai">
            <div class="g-right">
                <div class="aisk_text-1" style="margin-top: 197px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex2"></a> 一张能帮你经营企业的名片
                    </p>
                    微企经营系统：用微名片、微商城、微活动、
                    <br/> 微网站展示自己和介绍公司，高效传播。
                    <br/>
                </div>
            </div>
            <div class="g-left">
                <div>
                    <img src="./assets/images/aisk/aisk_2.png" class="aisk_2">
                </div>
            </div>
        </div>
    </div>

    <div style="background: #f8f8f8">
        <div class="ovhide page_ai">
            <div class="g-left">
                <div class="aisk_text-1" style="margin-top: 197px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex3"></a> 一张能帮你管理全部人脉的名片
                    </p>
                    人脉管理系统：独有精准识别名片功能，拍照
                    <br/>即可将人脉收纳到名片夹，摆脱名片成堆的烦恼。
                    <br/>
                </div>
            </div>
            <div class="g-right">
                <div>
                    <img src="./assets/images/aisk/aisk_3.png" class="aisk_3">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ovhide page_ai">
            <div class="g-right">
                <div class="aisk_text-1" style="margin-top: 178px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex4"></a> 微信裂变，轻松获客
                    </p>
                    裂变获客系统：使用小程序名片，即可自动收集
                    <br/> 客户手机号、筛选意向客户，重点跟进客户让销
                    <br/> 售不费力。
                </div>
            </div>
            <div class="g-left">
                <div>
                    <img src="./assets/images/aisk/aisk_4.png" class="aisk_4">
                </div>
            </div>
        </div>
    </div>

    <div style="background: #f8f8f8">
        <div class="ovhide page_ai">
            <div class="g-left">
                <div class="aisk_text-1" style="margin-top: 157px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex5"></a> AI赋能，精准成交
                    </p>
                    AI销售系统：集成SCRM管理、客户智能
                    <br/> 画像、AI识客等功能，用算法捕捉成交信
                    <br/> 号，把握商机，提高成交效率。
                </div>
            </div>
            <div class="g-right">
                <div>
                    <img src="./assets/images/aisk/aisk_5.png" class="aisk_5">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ovhide page_ai">
            <div class="g-right">
                <div class="aisk_text-1" style="margin-top: 160px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex6"></a>可视化管理，数字化经营
                    </p>
                    经理管理系统：用销售漏斗、成交曲线等数字
                    <br/> 图表直观了解客户形态、指导团队工作，实现
                    <br/> 量化管理、精准决策。
                </div>
            </div>
            <div class="g-left">
                <div>
                    <img src="./assets/images/aisk/aisk_6.png" class="aisk_6">
                </div>
            </div>
        </div>
    </div>

    <div style="background: #f8f8f8">
        <div class="ovhide page_ai">
            <div class="g-left">
                <div class="aisk_text-1" style="margin-top: 196px;">
                    <p class="ai_sk-ts">
                        <a class="ai_skindex7"></a> 进行全员营销，低成本获客的名片
                    </p>
                    全员营销系统：让全员可参与口碑传播，每个人
                    <br/> 都成为公司流量入口。
                </div>
            </div>
            <div class="g-right">
                <div>
                    <img src="./assets/images/aisk/aisk_7.png" class="aisk_7">
                </div>
            </div>
        </div>
    </div>
    <%- include('./pubilcViews/cr.jstl') %>
    <!-- <div>
        <div class="ovhide page_ai jksq">
        </div>
    </div> -->
    <%- include('./pubilcViews/foot.jstl',{success:foot}) %>
    <script>
        document.querySelectorAll('.hread-li')[1].setAttribute('class', 'hread-li click')
    </script>
</body>

</html>