<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
    <%- include("./pubilcViews/mate.jstl") %>

</head>

<body>
        <%- include("./pubilcViews/title.jstl") %>
        <%- include("./pubilcViews/lunbo.jstl") %>
 
    <div class="page">
        <div class="con-zx">合作渠道</div>
    </div>
    <div style="background: #f8f8f8">
        <div class="channel-center">
            <div class="channel-text-head">
                <div class="h1">为什么选择iSales</div>
                <p>iSales爱售宝，服务11万汽车经销商，服务4万亿汽车大市场。
                    <br> 这是最好的时代，这是最坏的时代，
                    <br> 技术正在颠覆传统，变革正在各个行业发生。
                </p>
            </div>
            <div class="channel-center-imgandtext">
                <div class="channel-center-text g-left">
                    <div class="title">代表未来趋势的互联网产品</div>
                    <p>我们互联网的方式为4S店、汽贸网点、二手车经销商提供先进的智能销售管理系统，让传统车商借助移动互联Mobile、大数据Social、云技术Cloud提升运营效率提高经营利润。</p>
                </div>
                <div class="g-right">
                    <div>
                        <img src="./assets/images/channel/channel_1.png">
                    </div>
                </div>
            </div>
            <div class="channel-center-imgandtext">
                <div class="channel-center-text g-right">
                    <div class="title">一个绝佳的创富机会</div>
                    <p>我们采用SaaS模式进行产品销售和服务，渠道合作伙伴一次开发，长年受益； 我们的目标客户集中，客户开发成本可控，只需几个工作人员就能年年享受百万级回报。
                    </p>
                </div>
                <div class="g-left">
                    <div>
                        <img src="./assets/images/channel/channel_2.png">
                    </div>
                </div>
            </div>
            <div class="channel-center-imgandtext">
                <div class="channel-center-text g-left">
                    <div class="title">成熟的渠道运营经验</div>
                    <p>具备成熟的渠道运营经验，给予渠道更多的指导和建议；灵活多样的推广活动，给代理最大回报；雄厚的资金背景，专业的行业资源，寻求与合作伙伴共同发展。
                    </p>
                </div>
                <div class="g-right">
                    <div>
                        <img src="./assets/images/channel/channel_3.png">
                    </div>
                </div>
            </div>
            <div class="channel-center-imgandtext">
                <div class="channel-center-text g-right">
                    <div class="title">专业的售后服务</div>
                    <p>我们对终端客户实现全国统一售后服务平台，提供7X24小时400服务；6X10小时在线答疑服务；30天辅导，专属客户经理提供定制化服务。
                    </p>
                    <p>
                        为渠道合作伙伴配备优秀服务经理，提供物料支持、市场宣传支持、常规培训支持、法务支持等协助您开拓市场。
                    </p>
                </div>
                <div class="g-left">
                    <div>
                        <img src="./assets/images/channel/channel_4.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="channel-center">
            <div class="channel-bottom-centera-h1">我们能提供的支持</div>
            <div class="channel-bottom-centera-text">
                <div class="isales-content-le">
                    <h1 class="channel-centera-text-h1">推广材料支持</h1>
                    <p class="channel-centera-text-p">合作伙伴在合作期间，将会定期免费收到iSales介绍文档、宣传彩页和广告视频等资料。</p>
                </div>
                <div class="isales-content-le isales-content-ten">
                    <h1 class="channel-centera-text-h1">媒体宣传支持</h1>
                    <p class="channel-centera-text-p">我们将会持续在各大专业媒体、行业展会进行宣传。提升iSales知名度。</p>
                </div>
                <div class="isales-conten2t-ri">
                    <h1 class="channel-centera-text-h1">产品培训支持</h1>
                    <p class="channel-centera-text-p"> 当代理商签订正式代理协议后，iSales将会组织渠道经理对合作伙伴进行整体培训，培训内容包括市场推广、拓展方面培训以及产品使用方面培训。</p>
                </div>
            </div>
            <div class="channel-bottom-centera-text">
                <div class="isales-content-le">
                    <h1 class="channel-centera-text-h1">商务价格支持</h1>
                    <p class="channel-centera-text-p">合作伙伴在签订正式代理协议之后，将会获得价格优惠以及阶梯销售奖励。</p>
                </div>
                <div class="isales-content-le isales-content-ten">
                    <h1 class="channel-centera-text-h1">会议营销支持</h1>
                    <p class="channel-centera-text-p">iSales合作伙伴将会在重点地域联合代理商开展产品推介会和营销会议。</p>
                </div>
                <div class="isales-conten2t-ri">
                    <h1 class="channel-centera-text-h1">电话邮件支持</h1>
                    <p class="channel-centera-text-p"> 合作伙伴将获得6X10小时电话支持和7X24小时邮件支持。帮助合作伙伴快速开展工作。</p>
                </div>
            </div>
        </div>
    </div>
    <div style="background: #f8f8f8">
        <div class="channel-center">
            <div class="channel-bottom-centera-h1">渠道类型与资质要求</div>
            <div class="channel-text-center ">
                <div class="h3">城市代理商：</div>
                对汽车经销商超过300的城市设立一个城市代理商。
                <br> 有兵：有稳定的业务团队，有服务汽车经销商的经验
                <br> 有粮：有4S店、汽贸企业、二手车经销商等客户资源，能快速打开局面占领市场
                <br> 有钱：有投入意愿，能为初期市场开拓投入资源和资金
            </div>
            <div class="channel-text-center ">
                <div class="h3">城市合伙人：</div>
                对汽车经销商低于100家的城市，我们招募城市合伙人。
                <br/> 想做：认同iSales产品和发展理念，愿意将iSales作为事业进行发展
                <br/> 能做：熟悉汽车行业，认识10家以上当地汽车经销商负责人
                <br/> 会做：有充足的时间进行客户开发，客户购买后能上门实施产品使用辅导
                <br/>
            </div>
            <div class="channel-text-sm">
                说明：
                <br/> 1、总部会为代理商和城市合伙人输送销售线索，代理商直接签约收款，合伙人负责完成客户与iSales的签约。
                <br/> 2、整体客服由总部400电话负责，对远程辅导不能解决问题会派单给合伙人提供上门服务。
                <br/>
            </div>
        </div>
    </div>
    <div class="channel-center">
        <div class="channel-bottom-centera-h1">渠道类型与资质要求</div>
        <div>
            <img src="./assets/images/channel/channel_6.png" class="channel_6">
        </div>
        <ul class="cchannel-center-ul">
            <li class="channel-center-li">
                <h1 class="channel-center-li-h1">提交申请</h1>
                <p class="channel-center-li-p">递交《iSales城市代理商资格申请表》、公司简介、营业执照副本复印件（加盖公章）、法人代表身份证复印件和税务登记证复印件各一份。</p>
            </li>
            <li class="channel-center-li">
                <h1 class="channel-center-li-h1">审核资料</h1>
                <p class="channel-center-li-p">iSales对申请单位提供的资料进行审核，时间在收件之日起2个工作日内。</p>
            </li>
            <li class="channel-center-li">
                <h1 class="channel-center-li-h1">授权代理</h1>
                <p class="channel-center-li-p">双方协商一致后，签署“iSales城市销售代理合同。合同在申请单位缴纳市场保证金后生效。</p>
            </li>
            <li class="channel-center-li">
                <h1 class="channel-center-li-h1">业务培训</h1>
                <p class="channel-center-li-p">iSales对渠道代理商提供产品培训、业务流程培训，根据代理商需求提供客户开发辅导服务。</p>
            </li>
            <li class="channel-center-li">
                <h1 class="channel-center-li-h1">开拓市场</h1>
                <p class="channel-center-li-p">经过培训后的代理商才能代表iSales在当地市场开发客户。</p>
            </li>
        </ul>
        <div class="ovhide" style="color: #666666">
            <div class="g-left">
                <div class="channel-center-foo-h2"> 如您有意成为爱售宝合作伙伴，请即刻联系我们。</div>
                <p style="line-height: 2">
                    申请代理方式：四大区及覆盖省份
                    <br> 北区张经理 联系方式：18620066877
                    <br> 南区龚经理 联系方式：15876543998
                    <br> 东区杨经理 联系方式：18818555227
                    <br> 西区徐经理 联系方式：15817437605
                    <br>
                </p>
            </div>
            <div class="g-right">
                <div style="padding:60px 0;">
                    <img src="./assets/images/channel/jiameng.png">
                </div>
            </div>
        </div>
    </div>
    <%- include('./pubilcViews/foot.jstl',{success:foot}) %>
    <script>
        document.querySelectorAll('.hread-li')[4].setAttribute('class', 'hread-li click')
    </script>
</body>

</html>