<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>iSales爱售宝专业汽车销售管理平台，用技术实现销售的智能化管理</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="Keywords" content="iSales,爱售宝,汽车销售,智能化,数字化，精益管理,绩效管理,经销商管理,区域管理,效率,工具,CRM,移动培训,移动办公,移动销售,4S店,汽车,汽车销售管理办法,汽车销售APP">
<meta name="description" content="iSales爱售宝实现汽车销售数据化、自动化管理：数据化，iSales通过量化绩效管理实现业绩增长；自动化，iSales用程序取代80%的人工操作，提升效率、降低成本。">
<meta name="referrer" content="no-referrer" />
<!-- <meta http-equiv="Content-Security-Policy" content="frame-src 'self' ;"> -->
<link href="css/style.css?ed55df86e126dbc7d235" rel="stylesheet">
<link href="lib/css/flexslider.css?ed55df86e126dbc7d235" rel="stylesheet">
<script type="text/javascript">
    try {
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            window.location.href = "https://www.isales.cn/mobile/views/index.html";
        }
    } catch (e) { }
</script>
</head>

<body>
    <%- include("./pubilcViews/title.jstl") %>
    <div style="height: 85px;">

    </div>
    <div class="flexslider">
        <ul class="slides">
            <li><img src="./assets/images/lb_4.png" class="href_offer_sy asb"/></li>
        </ul>
    </div>
    <div>
        <div class="page_ai">
            <div class="issles">
                <div class="aishoubao "></div>
            </div>
        </div>
    </div>
    <div class="" style="background: #f8f8f8">
        <div class="page_ai">
            <div class="ovhide isales-div">
                <div class="g-left">
                    <div class="isales-title">两大手段解决获客难，提升销量</div>
                    <div class="isales-p">
                        <a></a>活动中心：线上自助生成活动H5页面转发多获客</div>
                    <div class="isales-p">
                        <a></a>集客神器：线下车展、巡展自助生成抽奖游戏吸引客户留资</div>

                    <a class="isales_bont" href="./offer_sy.html?type=0">免费试用</a>    
                </div>
                <div class="g-right">
                    <div class="ovhide isales-xbdiv">
                        <div class="g-left hdzx">
                            <div class="isales-xb">

                            </div>
                            <div class="text-cenetr">活动中心</div>
                        </div>
                        <div class="g-left hdzx">
                            <div class="isales-xb jksq"></div>
                            <div class="text-cenetr">集客神器</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="page_ai">
            <div class="ovhide isales-div">
                <div class="g-left">
                    <div class="ovhide ">
                        <div class="g-left mr-qkh">
                            <div class="isales-xb rwtx"></div>
                            <div class="text-cenetr">任务提醒</div>
                        </div>
                        <div class="g-left mr-qkh">
                            <div class="isales-xb qkh"></div>
                            <div class="text-cenetr">抢客户</div>
                        </div>
                        <div class="g-left mr-qkh">
                            <div class="isales-xb gjhb"></div>
                            <div class="text-cenetr">跟进红包</div>
                        </div>
                    </div>
                </div>
                <div class="g-right">
                    <div class="isales-title">三大高招解决跟进不及时，提升销量</div>
                    <div class="isales-p">
                        <a></a>任务提醒：每天自动生成跟进任务列表，提醒执行</div>
                    <div class="isales-p">
                        <a></a>抢客户：不及时跟进客户进入抢客户池自动再分配</div>
                    <div class="isales-p">
                        <a></a>跟进红包：及时完成跟进记录可随机奖励红包</div>
                        <a class="isales_bont" href="./offer_sy.html?type=0">免费试用</a>
                </div>

            </div>
        </div>
    </div>
    <div style="background: #f8f8f8">
        <div class="page_ai">
            <div class="ovhide isales-d2d">
                <div class="g-left" style="margin-top: 114px">
                    <div class="isales-title">四项举措解决客户资产流失，提升销量</div>
                    <div class="isales-p">
                        <a></a>意向客户：分类管理，逐级提高转化率</div>
                    <div class="isales-p">
                        <a></a>托管中心：老客户托管，自动维系降低流失率</div>
                    <div class="isales-p">
                        <a></a>我的审批：经理可重新分配战败客户</div>
                    <div class="isales-p">
                        <a></a>员工管理：员工离职，客户资产可迁移</div>
                        <a class="isales_bont" href="./offer_sy.html?type=0">免费试用</a>
                </div>
                <div class="g-right">
                    <div class="ovhide">
                        <div class="g-left hdzx">
                            <div class="isales-xb yxkh"></div>
                            <div class="text-cenetr">意向客戶</div>
                        </div>
                        <div class="g-left hdzx">
                            <div class="isales-xb tgzx"></div>
                            <div class="text-cenetr">托管中心</div>
                        </div>
                    </div>
                    <div style="height: 50px;"></div>
                    <div class="ovhide">
                        <div class="g-left hdzx">
                            <div class="isales-xb wdsp"></div>
                            <div class="text-cenetr">我的审批</div>
                        </div>
                        <div class="g-left hdzx">
                            <div class="isales-xb yggl"></div>
                            <div class="text-cenetr">员工管理</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div>
        <div class="page_ai">
            <div class="ovhide isales-d2d">
                <div class="g-left" style="position: relative;">
                    <div class="ovhide">
                        <div class="g-left ">
                            <div class="isales-xb mbgl"></div>
                            <div class="text-cenetr">模板管理</div>
                        </div>
                        <div class="g-left" style="margin-left:80px">
                            <div class="isales-xb rb"></div>
                            <div class="text-cenetr">日报</div>
                        </div>
                    </div>
                    <div style="height: 88px;"></div>
                    <div class="ovhide">
                        <div class="g-left ">
                            <div class="isales-xb yb"></div>
                            <div class="text-cenetr">月报</div>
                        </div>
                        <div class="g-left" style="margin-left:80px">
                            <div class="isales-xb jxgl"></div>
                            <div class="text-cenetr">绩效管理</div>
                        </div>
                    </div>
                    <div class="isales-ts">
                            <div class="isales-tsdiv">
                                <div class="isales-xb xsgl"></div>
                                <div class="text-cenetr">销售管理</div>
                            </div>
                    </div>
                </div>
                <div class="g-right" style="margin-top: 114px">
                    <div class="isales-title">五大手法实现数字化管理打造执行力，提升销量</div>
                    <div class="isales-p">
                        <a></a>目标管理：激励团队成长先定目标</div>
                    <div class="isales-p">
                        <a></a>日报：早晚例会用“日报”及时管控过程</div>
                    <div class="isales-p">
                        <a></a>月报：每月总结用“月报”量化考核结果</div>
                    <div class="isales-p">
                        <a></a>绩效管理：用绩效收入打造团队执行力</div>
                    <div class="isales-p">
                        <a></a>销售漏斗管理：客观预测销量、评估转化</div>
                        <a class="isales_bont" href="./offer_sy.html?type=0">免费试用</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div   style="border-top: 1px solid #c3c3c3;"></div>
    <%- include('./pubilcViews/cr.jstl') %>
    <%- include('./pubilcViews/foot.jstl',{success:foot}) %>
    <script>
        document.querySelectorAll('.hread-li')[2].setAttribute('class', 'hread-li click')
    </script>
</body>

</html>