<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <%- include("./pubilcViews/mate.jstl") %>
</head>

<body>
    <%- include("./pubilcViews/title.jstl") %>
    <div style="height: 85px;">

    </div>
    <div class="flexslider">
        <ul class="slides">
            <li><img src="./assets/images/lb_2.png" class="href_offer_sy jk"/></li>
        </ul>
    </div>
    <div class="page_ai">
        <div class="issles">
            <div class="jikeshenqi"></div>
        </div>
    </div>
    <div style="background: #f8f8f8">
        <div class="ovhide page_ai jksq">
            <div class="g-left">
                <div class="isales-content-le-text">
                    <p class="isales-index-h1">外拓福音</p>
                    <p class="isales-p">
                        <p class="isales-p">
                            <a></a>邀请客户参与手机抽奖活动，</p>
                        <p class="isales-p">
                            <a></a>快速赢得好感，</p>
                        <p class="isales-p">
                            <a></a>轻松获得留资。</p>
                    </p>
                </div>
            </div>
            <div class="g-right">
                <div class="jksq_1">
                    <img src="./assets/images/jksq/jksq_1.png">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ovhide page_ai jksq">
            <div class="g-right">
                <div class="isales-content-le-text">
                    <p class="isales-index-h1">促销标配</p>
                    <p class="isales-p">
                        <p class="isales-p">
                            <a></a>采用手机互动游戏抽奖</p>
                        <p class="isales-p">
                            <a></a>减少物料采购费用</p>
                        <p class="isales-p">
                            <a></a>多媒体形式让促销更生动</p>
                    </p>
                </div>
            </div>
            <div class="g-left">
                <div class="jksq_1">
                    <img src="./assets/images/jksq/jksq_2.png">
                </div>
            </div>
        </div>
    </div>
    <div style="background: #f8f8f8">
        <div class="ovhide page_ai jksq">
            <div class="g-left">
                <div class="isales-content-le-text">
                    <p class="isales-index-h1">车展必备</p>
                    <p class="isales-p">
                        <p class="isales-p">
                            <a></a>利用展台大屏幕作为道具</p>
                        <p class="isales-p">
                            <a></a>吸引观众参与竞技游戏</p>
                        <p class="isales-p">
                            <a></a>集体摇动手机，引爆全场人气</p>
                    </p>
                </div>
            </div>
            <div class="g-right">
                <div class="jksq_1">
                    <img src="./assets/images/jksq/jksq_3.png">
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="ovhide page jksq">
        </div>
    </div>
    <%- include('./pubilcViews/cr.jstl') %>
    <%- include('./pubilcViews/foot.jstl',{success:foot}) %>
    <script>
        document.querySelectorAll('.hread-li')[3].setAttribute('class', 'hread-li click')
    </script>
</body>

</html>