<!DOCTYPE html>
<html>

<head>
    <%- include("./pubilcViews/mate.jstl") %>
</head>

<body>
  <!-- 头部导航 -->
  <div class="page-title ts">
    <div class="logo">
      关于我们
    </div>
    <div class="tab">
      <a href="./index.html">返回首页</a>
    </div>
  </div>
  <!-- 除开头部 -->
  <div class="body">
    <div>
      <img src="../mobile/assets/abotme.png" class="abotme">
      <div class="aboutme-headtext">
        <div>
          小i智能名片是深圳爱售科技有限公司推出的微信小程序， 用微名片、微商城、微活动、微官网替代传统名片和升级企业营销系统。 连接10亿微信用户，实现低碳社交、精准成交。
        </div>
        <div class="top">
          小i智能名片与腾讯企业微信、微信小程序、腾讯云、腾讯AI开放平台、 腾讯AI Lab展开深入合作，让人工智能普惠商务社交，帮助一亿商务人士做生意。
        </div>
      </div>
      <div>
        <img src="../mobile/assets/tabbj.png" class="tabbj" />
      </div>
      <div class="abotme-tiel">
        企业介绍
      </div>
      <div class="aboutme-gsjj-text">
        <div class="am_div">
          <div class="am_div1">
            <img src="../mobile/assets/am_2.png" />
          </div>
          <div class="am_div1">
            <img src="../mobile/assets/am_3.png" />
          </div>
          <div class="am_div1">
            <img src="../mobile/assets/am_4.png" />
          </div>
        </div>
        <div>
          公司所获得的软件著作权和国家专利
          <div class="aboutme-flx-bt">
            <div class="am_bt">
              <img src="../mobile/assets/am_5.png" />
            </div>
            <div class="am_bt">
              <img src="../mobile/assets/am_6.png" />
            </div>
          </div>
          作为联想合作伙伴参加高交会汽车行业解决方案展示

          <div class="ceqilist">
            <div>
              <img src="../mobile/assets/am_9.png" />
            </div>
            <div>
              <img src="../mobile/assets/am_10.png" />
            </div>
            <div>
              <img src="../mobile/assets/am_11.png" />
            </div>
            <div>
              <img src="../mobile/assets/am_12.png" />
            </div>
            <div>
              <img src="../mobile/assets/am_13.png" />
            </div>
          </div>
          公司和各汽车行业合作品牌
        </div>
        <div class="absm">
          <p> 使命：<span>用技术引领销售变革</span></p>

          <p> 愿景：<span>AI赋能，帮一亿销售人员卖东西</span></p>

          <p> 价值观：<span>换位、升维、精进</span></p>

          <p> 产品哲学：<span>不二法则，一看就懂、一用就会</span></p>
        </div>
        <div class="adder">
          <div class="titel">联系我们</div>
          公司地址：深圳市宝安区宝源路168号名优中心B座603室 <br/>
          招商电话：0755-27215639<br/>
           客服电话：400-059-0755<br/>
        </div>
        <div>
          <img  src="../mobile/assets/adder.png" class="adderimg"/>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelectorAll('.page-lable-la')[4].className = 'page-lable-la click';
  </script>
</body>

</html>