<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
  <title>iSales爱售宝专业汽车销售管理平台，用技术实现销售的智能化管理</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="renderer" content="webkit">
  <meta name="Keywords" content="iSales,爱售宝,汽车销售,智能化,数字化，精益管理,绩效管理,经销商管理,区域管理,效率,工具,CRM,移动培训,移动办公,移动销售,4S店,汽车,汽车销售管理办法,汽车销售APP">
  <meta name="description" content="iSales爱售宝实现汽车销售数据化、自动化管理：数据化，iSales通过量化绩效管理实现业绩增长；自动化，iSales用程序取代80%的人工操作，提升效率、降低成本。">
  <meta name="referrer" content="no-referrer" />
  <!-- <meta http-equiv="Content-Security-Policy" content="frame-src 'self' ;"> -->
  <link href="../mobile/css/style.css?ed55df86e126dbc7d235" rel="stylesheet">
  <link href="../mobile/lib/css/swiper.min.css?ed55df86e126dbc7d235" rel="stylesheet">
  <script type="text/javascript">
    try {
      if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {

      } else {
        window.location.href = "https://www.isales.cn";
      }
    } catch (e) { }
  </script>
</head>

<body>
  <!-- 头部导航 -->
  <%- include("./pubilcViews/title.jstl") %>
  <!-- 除开头部 -->
  <div class="body">
    <!-- 内容 -->
    <div class="index-center">
      <!-- 轮播图 -->
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <a class="swiper-slide" href="./sy.html?type=0">
            <div class="mfsy">免费试用</div>
            <img class="poster" src="../mobile/assets/poster0.png" />
          </a>
        </div>
     
      <!--  tab导航 -->
      <%- include("./pubilcViews/tab.jstl") %>

      <!--  正文 -->
      <div class="isales-zw">
        <div class="isales-zw-cen">
          <div class="isales-h3">两大手段解决获客难，提升销量</div>
          <div>
            <p class="isales-yuan">活动中心：线上自助生成活动H5页面转发多获客</p>
            <p class="isales-yuan">集客神器：线下车展、巡展自助生成抽奖游戏吸引客户留资</p>
          </div>
          <div class="isales-img">
            <div style="margin-right: 13.86667vw;">
              <div class="isales-xb"></div>
              <div class="">活动中心</div>
            </div>
            <div>
              <div class="isales-xb jksq"></div>
              <div class="">集客神器</div>
            </div>
          </div>
        </div>
        <div class="isales-zw-cen">
          <div class="isales-h3">三大高招解决跟进不及时，提升销量</div>
          <div>
            <p class="isales-yuan">任务提醒：每天自动生成跟进任务列表，提醒执行</p>
            <p class="isales-yuan">抢客户：不及时跟进客户进入抢客户池自动再分配</p>
            <p class="isales-yuan">跟进红包：及时完成跟进记录可随机奖励红包</p>
          </div>
          <div class="isales-img">
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb rwtx"></div>
              <div class="">任务提醒</div>
            </div>
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb qkh"></div>
              <div class="">抢客户</div>
            </div>
            <div>
              <div class="isales-xb gjhb"></div>
              <div class="">跟进红包</div>
            </div>
          </div>
        </div>
        <div class="isales-zw-cen">
          <div class="isales-h3">四项举措解决客户资产流失，提升销量</div>
          <div>
            <p class="isales-yuan">意向客户：分类管理，逐级提高转化率</p>
            <p class="isales-yuan">托管中心：老客户托管，自动维系降低流失率</p>
            <p class="isales-yuan">我的审批：经理可重新分配战败客户</p>
            <p class="isales-yuan">员工管理：员工离职，客户资产可迁移</p>
          </div>
          <div class="isales-img">
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb yxkh"></div>
              <div class="">意向客户</div>
            </div>
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb tg"></div>
              <div class="">托管中心</div>
            </div>
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb wdsp"></div>
              <div class="">我的审批</div>
            </div>
            <div>
              <div class="isales-xb yggl"></div>
              <div class="">员工管理</div>
            </div>
          </div>
        </div>
        <div class="isales-zw-cen">
          <div class="isales-h3">五大手法实现数字化管理打造执行力，提升销量</div>
          <div>
            <p class="isales-yuan">目标管理：激励团队成长先定目标</p>
            <p class="isales-yuan">日报：早晚例会用“日报”及时管控过程</p>
            <p class="isales-yuan">月报：每月总结用“月报”量化考核结果</p>
            <p class="isales-yuan">绩效管理：用绩效收入打造团队执行力</p>
            <p class="isales-yuan">销售漏斗管理：客观预测销量、评估转化</p>
          </div>
          <div class="isales-img" style="padding-bottom: 6vw">
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb mbgl"></div>
              <div class="">目标管理</div>
            </div>
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb rb"></div>
              <div class="">日报</div>
            </div>
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb yb"></div>
              <div class="">月报</div>
            </div>
          </div>
          <div class="isales-img" style="padding-top: 0">
            <div style="margin-right: 3.86667vw;">
              <div class="isales-xb xsgl"></div>
              <div class="">销售管理</div>
            </div>
            <div style="">
              <div class="isales-xb jxgl"></div>
              <div class="">绩效管理</div>
            </div>
          </div>
        </div>
        <div class="isales-zw-cen">
          <div class="asb_ewmya">
            <div>
              <img src="../mobile/assets/asb_ewm.png" class="asb_ewm" />
              <div class="asb_ewm-a">爱售宝 公众号二维码</div>
            </div>
            <div class='hasptadag'>
              长按识别上面二维码，更多功能等着你~</br>
              联系电话：<span class="isale-phone">400-059-0755 </span>
            </div>
          </div>
        </div>
      </div>
      <!-- foot -->
      <%- include("./pubilcViews/foot.jstl") %>
    </div>
    <!--  爱售宝申请 -->
    <a class="mfsq" href="./sy.html?type=0">免费申请</a>
    <script>
      document.querySelectorAll('.index-tab-lb')[1].className = 'index-tab-lb click';
      document.querySelectorAll('.page-lable-la')[2].className = 'page-lable-la click';
    </script>
</body>

</html>