@charset"utf-8";
html {
    background:#fff;
    overflow-y:scroll;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    overflow: auto;
    line-height: 1;
}
.hx-header, .le, .le_r {
    background-color:#1899dd
}
html * {
    outline:0;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color:transparent
}
body, html {
    font-size: 16px;
    font-family: "Microsoft Yahei";
    width:100%;
}
article, aside, blockquote, body, button, code, dd, details, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, input, legend, li, menu, nav, ol, p, pre, section, td, textarea, th, ul {
    margin:0;
    padding:0
}
input, select, textarea {
    font-size:100%
}
table {
    border-collapse:collapse;
    border-spacing:0
}
fieldset, img {
    border:0
}
abbr, acronym {
    border:0;
    font-variant:normal
}
del {
    text-decoration:line-through
}
address, caption, cite, code, dfn, em, th, var {
    font-style:normal;
    font-weight:500
}
ol, ul {
    list-style:none
}
caption, th {
    text-align:left
}
h1, h2, h3, h4, h5, h6 {
    font-size:100%;
    font-weight:500
}
q:after, q:before {
    content:''
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
a { text-decoration:none;}
//头部
.page{
    width: 1200px;
    margin: 0 auto;
}
.ovhide{
    overflow: hidden;
}
.g-left{
    float: left;
    
}
.logo-img{
    display: block;
    padding: 28px 0;
}
.g-right{
    float: right;
}
.hread-ul{
   color: #666;
   font-size: 18px; 
   
}
.hread-li{
    float: left; 
    margin-left: 40px;
    line-height: 85px;
    box-sizing: border-box;
    a{
        cursor: pointer;
        color: #000;
    }
}
.hread-li.click{
    position: relative;
    &:before{
     content: " ";
     position: absolute;
     left: 0;
     bottom: 0;  
     width: 100%;     
     border-bottom: 3px solid #1e82d2;
    }
  
}
.lunbo{
    img{
        width: 100%;
        display: block;
    }
    position: relative;
    .lunbo-botton{
        position: absolute;
        top: 250px;
    }
}
.conet.doprder{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}
.doprder{
    padding:50px 0;
    text-align: center;
    color: #cdcdcd;
    position: relative;
    z-index: 1;
    .conet{
        float: left;
        margin-left: -50%;
    }
    .xi{
        background: url('../assets/images/3_logo.png') 0 0 no-repeat;
        width: 299px;
        height:47px;
        margin: 0 auto;
        
    }
    .name{
        margin: 30px 0;
        color: #666666;
        font-size: 28px;
    }
    .asb{
        width: 222px;
        margin: 0 auto;
        .asb-img{
            background: url('../assets/images/3_logo.png') 0 0 no-repeat;
            background-position-x: -466px;
            height:47px;
            width:186px;
            margin: 0 auto;
        }
    }
    .jksq{
        width: 190px;
        .jksq-img{
            background: url('../assets/images/3_logo.png') 0 0 no-repeat;
            background-position-x: -911px;
            height:47px;
            width: 186px;
            margin: 0 auto;
        }
    }
}
.xiaoi{
    background: url('../assets/images/3_logo.png') 0 0 no-repeat;
    width: 299px;
    height:47px;
}
.sm-bold{
    font-size: 30px;
    font-weight: bold;
    line-height: 3
}
.ckxq{
    display: block;
    width: 140px;
    height: 36px;
    border-radius: 30px;
    background: #ff6633;
    color: #fff;
    text-align: center;
    line-height: 36px;
    margin-top: 35px;
    cursor: pointer;
}
.ckxq.lan{
    background: #1e82d2;
}
.list-text{
    line-height: 1.8;
    padding-top: 56px;
}
.index-list-div{
    border-top: 1px solid #d2d2d2;
    padding: 88px 0 40px 0;
}
.aishoubao{
    background: url('../assets/images/3_logo.png') 0 0 no-repeat;
    background-position-x: -466px;
    height:47px;
    width:186px;
}
.jikeshenqi{
    background: url('../assets/images/3_logo.png') 0 0 no-repeat;
    background-position-x: -911px;
    height:47px;
    width: 186px;
}
.index-list-title{
    font-size: 36px;
    color: #000;
    text-align: center;
    padding-bottom: 45px;
}
.index-list-di{
    padding: 60px 0;
}
.wenzli{
    line-height: 1.8;
    font-size: 20px;
    line-height: 2.4;
    color: rgb( 51, 51, 51 );
    width: 650px;  
    overflow:hidden; //超出的文本隐藏
    text-overflow:ellipsis; //溢出用省略号显示
    white-space:nowrap; //溢出不换行  
}
.ckgd{
    float: right;
    color: red;
    margin-top: 45px;
}
.hr{
    height: 50px;
    border-bottom: 1px solid #d2d2d2;
}
.fw-div-text{
    padding: 45px 0 43px 30px;
    background: #fff;
    color: #999;
    .title{
        font-size: 30px;
        color: rgb( 51, 51, 51 );
        line-height: 1.8;
      }
      
}
.wenzli span{
    color: #999;
}
.index-d-yy{
    box-shadow: 0px 0px 7px  rgb( 195, 195, 195 );
    margin: 7px;
}
.cheqi{
    display: block;
    margin: 0 auto;
}
.footimg{
    margin-left: 90px;
    display: inline-block;
    padding: 30px 0;
}
.foot{
    text-align: center;
    background: #f8f8f8;
    padding-bottom: 100px;
    line-height: 1.8
}
.foot-a{
    padding: 40px 0;
    color: #666666;
    a{
        padding-right: 20px;
        cursor: pointer;
        color: #666666;
        &:hover
        { 
            color: red;
        }
    }
}
.wzdt a{
    color: #000;
    &:hover
    { 
            color: red;
    }
}
.issles{
    padding: 24px 0;
}


.isales-div{
    padding: 155px 0 137px 0;    
}
.isales-title{
    color: #1e82d2;
    font-size: 30px;
    text-indent: 20px;
}
.isales-p{
    margin-top: 26px;
    a{
        display: inline-block;
        background: url(../assets/images/isales/isales_ty.png) 0 0 no-repeat;
        width: 12px;
        height: 12px;
        margin-right: 8px;
    }
}


.isales-xb{
    height: 150px;
    width: 150px;
    background: url(../assets/images/isales/isales_xb.png) 0 0 no-repeat;
    margin-bottom: 23px;
}

.isales-xbdiv{
    margin-left: 120px;
}
.hdzx{
    margin-left: 111px;
   
}
.text-cenetr{
    text-align: center;
}
.isales-xb.jksq{
    background-position-x: -170px;
}
.isales-xb.rwtx{
    background-position-y: -170px;
}
.isales-xb.qkh{
    background-position: -172px -170px;
}
.isales-xb.gjhb{
    background-position: -345px -170px;
   
}
.mr-qkh{
    margin-right: 30px
}
.isales-d2d{
   padding: 65px 0;
}
.isales-xb.yxkh{
 background-position-y: -340px;
}
.isales-xb.tgzx{
    background-position:-175px -340px;
}
.isales-xb.wdsp{
    background-position:-345px -340px;
}
.isales-xb.yggl{
    background-position:-515px -340px;
}
.isales-xb.mbgl{
    background-position-y:-513px;
}

.isales-xb.rb{
    background-position:-175px -513px;
}
.isales-xb.xsgl{
    background-position:-345px -513px;
}

.isales-xb.jxgl{
    background-position:-692px -513px;
}
.isales-xb.yb{
    background-position:-518px -513px;
}
.isales-ts{
    position: absolute;
    top: 50%;
    left: 50%;
}
.isales-tsdiv{
    position: relative;
    margin-top: -55%;
    left: -50%;
}
.jikeshenqi{
    background: url('../assets/images/3_logo.png') 0 0 no-repeat;
    background-position-x: -911px;
    height:47px;
    width: 186px;
}
.isales-index-h1 {
    font-size: 30px;
    color: #1e82d2;
    line-height: 1.7;
    text-indent: 20px;
}
.isales-index-tentertext {
    font-size: 20px;
    line-height: 1.7;
}
.isales-content-le-text {
    margin-top: 100px;
}
.page_ai.jksq{
    padding: 45px 0;
}
.aisk{
    background: url('../assets/images/3_logo.png') 0 0 no-repeat;
    width: 299px;
    height:47px;
}

.ai_sk-ts{
    color: #ff6633;
    position: relative;
    text-indent: 50px;
    font-size: 30px;
}
@mixin ai_skindex{
    width: 45px;
    height: 59px;
    top:-35px;
    left: 0;
    position: absolute;
}
.ai_skindex1{
    background: url(../assets/images/aisk/aisk_icon1.png) 0 0 no-repeat;
    @include ai_skindex;
}
.aisk_text-1{
    line-height: 1.8;
    margin-top: 155px;
}
.aisk_1{
    display: block;
    margin: 20px 0 36px 0;
}
.aisk_2{
    display: block;
    margin-top:59px;
}
.ai_skindex2{
    background: url(../assets/images/aisk/aisk_icon2.png) 0 0 no-repeat;
    @include ai_skindex;
}
.ai_skindex3{
    background: url(../assets/images/aisk/aisk_icon3.png) 0 0 no-repeat;
    @include ai_skindex; 
}
.ai_skindex4{
    background: url(../assets/images/aisk/aisk_icon4.png) 0 0 no-repeat;
    @include ai_skindex; 
}
.ai_skindex5{
    background: url(../assets/images/aisk/aisk_icon5.png) 0 0 no-repeat;
    @include ai_skindex;   
}
.ai_skindex6{
    background: url(../assets/images/aisk/aisk_icon6.png) 0 0 no-repeat;
    @include ai_skindex;    
}
.ai_skindex7{
    background: url(../assets/images/aisk/aisk_icon7.png) 0 0 no-repeat;
    @include ai_skindex;   
}
.aisk_3{
    display: block;
    margin: 24px 0 31px 0;
}
.aisk_4{
    display: block;
    margin: 27px 0 40px 0;
}
.aisk_5{
    display: block;
    margin: 27px 0 45px 0;
}
.aisk_6{
    display: block;
    margin: 20px 0 30px 0;
}
.aisk_7{
    display: block;
    margin: 10px 0; 
}

.con-zx{
    height: 96px;
    line-height: 96px;
    background: #1e82d2;
    color: #fff;
    width: 160px;
    text-align: center;
}
.con-h1{
    color: #c2c2c2;
    font-size: 60px;
}
.condiv{
    padding: 30px 0;
    width: 840px;
    margin: 0 auto;
    border-bottom: 1px solid #e8e8e8;
    display: block;
}
.condiv-title{
    padding-bottom: 30px;
}
.condiv-zw{
    line-height: 1.8;
    width: 700px;
    color: #999;
}
.abm-top{
    padding-top:45px;
    line-height: 1.8;
    text-indent: 55px;
    font-size: 24px;
    color: #333333;
}
.abme_0{
    display: block;
    margin-top: 52px;
}
.abme-center{
    width: 932px;
    margin: 0 auto;
}
.cpjs{
    font-size: 30px;
    padding: 100px 0 62px 0;
    color: #1e82d2;
    a{
        display: inline-block;
        width: 22px;
        height:22px;
        background: #1e82d2;
        margin-right: 45-22px;
    }
}
.cpsm{
    p{
        padding-bottom: 40px;
        font-size: 24px;
        strong{
            padding-right: 25px;
            font-size: 24px;
            color: #333333;
        }
        a{
            color: #1e82d2;
        }
        span{
            display: inline-block;
            background: url(../assets/images/aboutme/aboutme_1.png) 0 0 no-repeat;
            width:12px;
            height:12px;
            margin-right: 10px;
        }
    }
}
.abqyry{
    img{
        display: block;
    }
    width: 703px;
    margin: 0 auto;
}
.channel-text-head {
    margin-bottom: 30px;
    .h1{
        position: relative;
        padding-top: 95px;
        font-size: 30px;
        color: #0097e0;
        margin-bottom: 82px;
    }
    p{
        font-size: 30px;
        color: #919191;
        line-height: 1.6;
        padding-bottom: 85px;     
    }
}
.channel-center-imgandtext {
    overflow: hidden;
    padding-bottom: 83px;
}
.channel-center-text {
    width: 400px;
    .title{
        font-size: 30px;
        margin-bottom: 40px;
    }
    p{
        width: 380px;
        line-height: 1.8;
        color: #919191;
        font-size: 20px;
        text-indent: 45px;
    }
}
.channel-center{
    width: 980px;
    margin: 0 auto;
}
.channel-bottom-centera-h1{
    font-size: 30px;
    color: #0097e0;
    padding: 88px 0 71px 0;
}
.channel-bottom-centera-text {
    overflow: hidden;
    margin-bottom: 70px;
    div{
        width: 245px;
    }
}
.isales-content-le {
    float: left;
}
.channel-centera-text-h1 {
    font-size: 20px;
    border-bottom: 1px solid #b5b5b5;
    text-align: center;
    height: 62px;
    line-height: 62px;
    margin-bottom: 30px;
    color: #3f3f3f;
}
.channel-centera-text-p {
    line-height: 1.8;
    color: #9d9d9d;
}
.isales-content-ten {
    margin-left: 126px;
}
.isales-conten2t-ri {
    float: right;
}
.channel-text-center {
    line-height: 1.8;
    margin-bottom: 70px;
    background: url(../assets/images/channel/channel_5.png) no-repeat 0 0;
    .h3{
        font-size: 20px;
    }
}

.channel-text-center {
    padding-left: 45px;
}
.channel-text-sm {
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 125px;
}
.channel_6{
    height: 147px;
    padding-bottom: 34px
}
.channel-center-li-p {
    line-height: 1.8;
    color: #cbcbcb;
    padding-top: 36px;
    text-indent: 50px;
    font-size: 24px;
    color: #919191;
}
.channel-center-li-h1 {
    font-size: 24px;
    padding-top: 36px;
}
.channel-center-foo-h2 {
    margin: 89px 0 30px 0;
}
.indexlogin {
    display: block;
    background: url(../assets/images/channel/login.png) no-repeat 0 0;
    width: 100px;
    background-position-y: 50%;
    text-align: center;
    color: #7bbaf9!important;
    font-size: 16px;
}
.indexloginxx{
    display: block;
    background: url(../assets/images/channel/login2.png) no-repeat 0 0;
    width: 144px;
    background-position-y: 50%;
    text-align: center;
    color: #ff6733!important;
    font-size: 16px;
}
.isales-head {
    background-color: #f8f8f8;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10000;
   // box-shadow:0px 2px 0px #CECECE;
    &:before{
        content: " ";
        position: absolute;
        bottom:0;
        right: 0;
        height: 1px;
        width: 100%;
        border-top: 1px solid #CECECE;
        color: #CECECE;
    }
}
.offer-sy-center{
    background: url(../assets/images/offer_sy.png) no-repeat center top;
    background-size: cover;
    -webkit-background-size: cover;
    height: 630px;
    position: relative;
}
.offer-sy-img {
    background: url(../assets/images/offer_sy_bj.png) no-repeat 0 0;
    width: 430px;
    height: 483px;
    float: right;
    margin-right: 80px;
    margin-top: 80px;
}
.offer-sy-action {
    padding: 13px 33px 033px;
    font-size: 30px;
}
.offer-sy-h1 {
    text-align: center;
    color: #1a8dce;
    /* padding-bottom: 20px; */
}
.offer-sy-inputdiv {
    background: url(../assets/images/offer_sy_input.png) no-repeat 0 0;
    width: 354px;
    height: 50px;
    margin-top: 23px;
    padding: 1px 22px;
}
.offer-sy-input {
    border: none;
    height: 46px;
    line-height: 46px;
    width: 300px;
    font-size: 18px;
    margin: 1px 0;
}
#apply_purpose {
    width: 354px;
    height: 100px;
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    margin-top: 10px;
    text-indent: 22px;
    color: #666666;
    line-height: 46px;
    font-size: 18px;
    margin: 1px 0;
}
.offer-sy-butt {
    display: block;
    background: url(../assets/images/offer_sy_tj.png) no-repeat 0 0;
    width: 354px;
    height: 50px;
    border: none;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    font-size: 24px;
}
.offer-sy-textandimg{
    width: 980px;
    overflow: hidden;
    margin: 0 auto;
}

.fx-left{
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 999;
    .fx_{
        width: 68px;
        height: 76px;
        margin-bottom: 5px;
        position: relative;
        .fx-div{
            position: absolute;
            right: 70px;
            top:0;
            display: none;
        }
    }
    .fx-1{
        background: url(../assets/images/fxleft.png) 0 0 no-repeat;
    }
    .fx-2{
        background: url(../assets/images/fxleft.png) 0 0 no-repeat;
        background-position-y: -80px;
    }
    .fx-3{
        background: url(../assets/images/fxleft.png) 0 0 no-repeat;
        background-position-y: -160px;
    }
    .fx-4{
        background: url(../assets/images/fxleft.png) 0 0 no-repeat;
        background-position-y: -240px;
    }
}
.consultingxq{
    display: block;
    color: #000;
}
.yx{
    font-size: 30px;
    color: rgb( 51, 51, 51 );
    font-weight: bold;
    line-height: 2;
    padding-top: 20px;
    -moz-transform: matrix( 1,0,0,0.99999957477942,0,0);
    -webkit-transform: matrix( 1,0,0,0.99999957477942,0,0);
    -ms-transform: matrix( 1,0,0,0.99999957477942,0,0);
  }
  .xq_hr{
      padding-bottom: 20px;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 40px;
  }
  .page_ai{
      width: 1100px;
      margin: 0 auto;
  }
  #zx-list{
      height: 288px;
      a{
          display: block;
          color: #000;
      }
  }
  .condiv_{
    width: 980px;
    margin: 0 auto;
    display: block;
  }
  #blogroll{
      text-align: left;
}
#advisory_content{
    line-height: 1.5;
}
.sitemap a{
    color: #000;
    &:hover{
        color: red;
    }
}
.T1{
    line-height: 2;
    padding:40px 0;
    display: inline-block;
}
.sitemap li{
    display: inline-block;
    margin-right: 10px;
}
.isales_bont{
    display: block;
    color: #fff;
    background: url(../assets/images/isales/isales_bont.png) 0 0 no-repeat;
    width: 154px;
    height: 47px;
    text-align: center;
    line-height: 44px;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
}